{% extends "layout/base.html" %}
{% block container %}
<h1>About</h1>
<p>
When we saw that a new service called <a href="http://human.io">human.io</a> had launched we thought "what could we do to try it out?".
</p>
<p>
Data gathering seemed like a good place to start so we built this little test app that gathers data about what price people are paying for every day purchases. 
</p>
<p>
At the moment we're gathering data about the worlds favourite drug of choice, coffee. 
</p>
<p>
Who knows what's next...
</p>
<p>
	<em>Made with a touch of Nando's Peri-Peri sauce by <a href="http://www.westerncapelabs.com">Western Cape Labs</a></em>
</p>
{% endblock %}